
	<p type="submit" 
	    id="{{ element.idAttribute }}" 
	    class="etykieta {{ element.classAttribute }}"
	    style="{{ element.styleAttribute }}"
	    {{ element.otherAttributes|raw  }}
	>
		{{ element.value|sbtoab|raw }}
	</p>

